.contact-section {
  color: #3D3D3D;
  text-align: center;
  display: flex;
}

.h2-contact {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}

.p-contact {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.forms {
  display: flex;
  gap: 12px;
  justify-content: center;
}

input {
  padding: 0 20px;
}

@media (max-width: 360px){

  .contact-section {
    margin: 64px 16px;
    text-align: center;
  }

  .forms {
    flex-direction: column;
  }

  .h2-contact{
    margin-bottom: 16px;
  }
  
  .p-contact {
    margin-bottom: 32px;
  }

  input {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
  }

  .send-button{
    background: #00c88c;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    overflow: hidden;
    padding: 12px 21px;
    transition-duration: 0.5s;
    height: 44px;
  }
}
