/* .form-section {
  margin: 64px 4.5vw;
  align-items: center;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 64px auto;
} */

.h2-contact {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #3D3D3D;
  text-align: center;
  margin: 64px 16px 16px;
}

.p-contact {
  margin: 16px;
  color: #3D3D3D;
}

.forms {
  display: flex;
  gap: 12px;
  justify-content: center;
}

@media (max-width: 340px){

  .form-section{
    margin: 64px 4.5vw;
  }

  input {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .send-button{
    background: #00c88c;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    overflow: hidden;
    padding: 12px 21px;
    /* position: relative; */
    transition-duration: 0.5s;
    height: 44px;
    margin: 0;
  }

}
