footer {
  background-color: #FFFFFF;
  color: #3D3D3D;
  font-weight: 500;
  text-align: center;
}

.footer-h2 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;

}

.divider {
  border: 1px solid #DFDFDF;
}

.footer-p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

/*button*/

.flex-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.picture-calendar {
  margin-left: 25px;
  margin-right: 21px;
}

.footer-button {
  background: #5E20A4;
  border-radius: 4px;
  color: #FFFFFF;
  align-items: center;
  display: flex;
  width: 304px;
  height: 68px;
  margin: 28px;
}

.span-1 {
  font-size: 16px;
  line-height: 28px;
}

.span-2 {
  font-size: 12px;
  line-height: 16px;
}

/*fim do button*/

@media (max-width: 360px) {

  footer {
    padding-top: 40px;

  }

  .footer-section {
    /* flex-direction: column; */
  }

  .footer-h2{
    margin: 0px 34px;
  }

  .footer-p {
    margin: 0px 26px 24px;
  }
}
