* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

body{
  max-width: 1440px;
  background: #F2F2F2;
  font-family: Inter, sans-serif;
}

.divider{
  border: 2px solid #DFDFDF;
  margin: 0px 16px;
}

@media (max-width: 340px) {
  .divider{
    margin: 16px;
  }
}
