.header {
  background: url('/src/img/Image2.png'), linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
  height: 616px;
  /* opacity: 20%; */
}

section, a{
  color: #FFFFFF;
}

h1 {
  margin-bottom: 24px ;
}


@media (max-width: 360px){
  .header{
    background: url('/src/img/Image.png')no-repeat, linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
    height: 540px
  }

  .article-div {
    margin: 0 16px;
    width: auto;
  }

  article {
    margin-top: 30px;
  }

  h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    display: flex;
    text-align: center;
    margin: 16px;
  }
  
  p {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }

  
}
