.header {
  background: url('/src/img/Image2.png'), linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
  height: 616px;
  background-size: cover;
  background-position: center center;
  color: #ffff;
  /* mix-blend-mode: overlay;
  opacity: 0.2; */
}

.header-h1 {
  font-size: 40px;
  line-height: 48px;
  /* align-items: center; */
  letter-spacing: -1px;
  font-weight: 500;
  margin-right: 80px;
  margin-bottom: 24px;
}

.flex-section {
  display: flex;
}

.header-img {
  height: auto;
  width: auto;
  margin-right: 188px;
  margin-top: 105px;
  margin-bottom: 156px;;
}

.article-header {
  margin: 152px 120px 0px 128px; 
}

.playLink {
  /* margin-left: 10px; */
  align-items: center;
  display: inline-flex;
}

.header-p {
  margin-bottom: 40px;
  margin-right: 90px;
}

#tag-a-header{
  color: #ffff;
  margin-left: 16px;
}

@media (max-width: 360px){

  .header-picture {
    display: none;
  }

  .header{
    background: url('/src/img/Image.png')no-repeat, linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
    height: 540px
  }

  .article-header {
    margin: 0;
    margin-top: 70px;
  }

  .header-h1 {
    font-size: 28px;
    line-height: 32px;
    display: flex;
    text-align: center;
    margin: 16px 44px;
  }

  .header-p {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    font-weight: 100;
    margin: 16px;
  }
  .playLink{
    margin-top: 60px;
    margin-left: 16px;
  }

}
