.navbar {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-right: 32px;
}

.logo {
  position: relative;
  width: 48px;
  margin-right: 46px;
}

.button-navbar {
  position: absolute;
  box-shadow: none;
  width: 234px;
  height: 44px;
  left: 110px;
  top: 16px;
  background-color: #00A870;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  color: #fff;
}

nav {
  /* display: flex; */
  margin-left: 16px;
  margin-right: 16px;
}