.framework-section{
 color: #3D3D3D;
 text-align: center;
 margin: 96px 228px 104px;
}

.framework-title {
  font-weight: 500;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 32px;
}

.framework-p {
  margin: 40px 100px;
  font-size: 16px;
  line-height: 28px;
}

.framework-article {
  margin-bottom: 64px;
}

@media (max-width: 360px){

  .framework-picture {
    display: none;
  }

  .framework-section{
    margin: 16px; /*tentar aplicar nas outras sections*/
    margin-bottom: 64px;
    text-align: center;

  }

  .framework-article{
    text-align: center;
  }  

  .framework-title{
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 64px 42px 16px;
  }
  
  .framework-p {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 16px 16px 24px;
  }
}
