.principles-section{
 color: #3D3D3D;
}

@media (max-width: 360px){

  .principles-section{
    margin: 16px; /*tentar aplicar nas outras sections*/
    margin-bottom: 64px;
    text-align: center;

  }

  .principles-article{
    text-align: center;
  }  

  .principles-title{
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 64px 42px 16px;
  }
  
  .principles-p {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 16px 16px 24px;
  }
}
