.profile-section {
  /* flex-direction: column;  */
  height: 216px;
  display: flex;
  /* justify-content: center; */
  border: 1px solid #DFDFDF;
  background-color: #FFFFFF;
}

.info {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.profile-a {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.-profile-p{
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 360px){ 

  .profile-picture {
    margin: auto;
    margin-top: 32px;
  }

  .profile-section {
    justify-content: center;
    border: 1px solid #DFDFDF;
    flex-direction: column;
  }

  .profile-a {
    margin: 12px 74px;
  }

  .info{
    flex-direction: column;
    text-align: center;
    grid-gap: 12px;
    gap: 12px;
    margin-bottom: 32px;
  }
}

