.profile-section {
  flex-direction: column; 
  height: 216px;
  justify-content: center;
  border: 1px solid #DFDFDF;
}

.info {
  display: flex;
  align-items: center;
}

.a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5E20A4;
}

.p{
  color: #000000;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 360px){ 

  .profile-section {
    flex-direction: column;
    height: 216px;
    justify-content: center;
    border: 1px solid #DFDFDF;
  }

  .info{
    flex-direction: column;
    text-align: center;
    grid-gap: 12px;
    gap: 12px;
  }
}

