.profile-section {
  height: 116px;
  display: flex;
  border: 1px solid #DFDFDF;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
}

.info {
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 32px;
}

.profile-a {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 2px;
}

.-profile-p{
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 360px){ 

  .profile-picture {
    margin: auto;
    margin-top: 32px;
  }

  .profile-section {
    height: 216px;
    justify-content: center;
    border: 1px solid #DFDFDF;
    flex-direction: column;
  }

  .profile-a {
    margin: 12px 74px;
  }

  .info{
    margin: 0px;
    flex-direction: column;
    text-align: center;
    grid-gap: 12px;
    gap: 12px;
    margin-bottom: 32px;
  }
}

