.share-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #3D3D3D;
  margin: 24px 71px 16px;
}

.share-p{
  font-size: 1rem;
  line-height: 28px;
  margin: 16px 16px 24px;
  color: #3D3D3D;
}

a:visited {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #5E20A4;
}

@media (max-width: 340px){
  
  .share-section {
    margin: 64px 4.5vw;
    text-align: center;
    flex-direction: column-reverse;
    grid-gap: 24px;
    gap: 24px;
  }

  .share-title {
    margin: 16px;
  }

  .share-p{
    text-align: center;
  }

  .share-article{
    align-items: center;
  }

}