.share-section {
  display: flex;
  font-weight: 500;
  color: #3D3D3D;
  width: 584px;
  height: 502px;
  margin-top: 120px;
  margin-left: 228px;
}

.share-picture{
  width: 14%;
}

.share-p{
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 40px;
}

.share-h2{
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

.share-p {
  margin-right: 56px;
}

@media (max-width: 360px){
  
  .share-section {
    width: auto;
    height: auto;
    text-align: center;
    flex-direction: column-reverse;
    margin: 16px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
  
  .share-picture img {
    margin: auto;
    margin-top: 36px;
    max-width: 304px;
    max-height: 204px;
    width: auto;
    height: auto
  }

  .share-h2{
    margin: 24px 71px 16px;
  }

  .share-p{
    text-align: center;
    margin: 16px 0px 24px;
  }
}